﻿/* shoestring-nav */
.nav {
}

    .nav ul {
        display: block;
        list-style: none;
    }

        .nav ul li {
            display: block;
            width: 100%;
            text-align: center;
            padding: 5px;
        }

            .nav ul li a {
                display: block;
                text-decoration: none;
            }

@media screen and (min-width: 450px) {

    .nav {
        float: right;
    }

        .nav ul {
            display: inline-block;
            list-style: none;
        }

            .nav ul li {
                display: inline-block;
                width: auto;
            }

                .nav ul li a {
                    display: block;
                    text-decoration: none;
                }
}

.nav:after {
    content: '';
    display: block;
    clear: both;
}
