﻿/* Reset */
* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Basics */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
}

.container-fluid {
}

.massivepanel {
    padding-top: 5em;
    padding-bottom: 5em;
}

.panel {
    padding-top: 2em;
    padding-bottom: 2em;
}

h1, h2, h3 {
    padding: 0.5em 0 0.5em 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.3em;
}

.text-center {
    text-align: center;
}

.narrow {
    padding: 0 20% 0 20%;
}

.abs-bottom {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.hidden-xs {
    display: none;
}

@media screen and (min-width: 450px) {
    .visible-sm-block {
        display: block;
    }
}

.bg-highlight {
    background-color: lightsteelblue;
    color: #444444;
}

.panel.bg-dark {
    background-color: #444444;
    color: white;
}

.panel.bg-light {
    background-color: white;
    color: #444444;
}

.panel.bg-quote {
    background-color: #888888;
    color: #444444;
}

.nav ul li a {
    color: #444444;
}

    .nav ul li a:visited {
        color: #444444;
    }

    .nav ul li a:hover {
        color: white;
    }

    .nav ul li a:active {
        color: white;
    }

.bg-light a {
    text-decoration: none;
    color: #444444;
}

    .bg-light a:visited {
        color: #444444;
    }

    .bg-light a:hover {
        color: lightsteelblue;
    }

    .bg-light a:active {
        color: lightsteelblue;
    }

.bg-dark a {
    text-decoration: none;
    color: lightgrey;
}

    .bg-dark a:visited {
        color: lightgrey;
    }

    .bg-dark a:hover {
        color: white;
    }

    .bg-dark a:active {
        color: white;
    }
